<footer>
  <div class="footer-top">
    <div class="footer-col-left">
      <img
        class="footer-logo"
        src="../../../assets/images/footer_rugby_masters_logo.png"
        alt=""
      />
      <ul class="footer-list">
        <li>
          <a class="footer-list-item text-dark sub-heading" href="#">Home</a>
        </li>
        <li>
          <a class="footer-list-item text-dark sub-heading" href="#"
            >Browse Classes</a
          >
        </li>
        <li>
          <a class="footer-list-item text-dark sub-heading" href="#"
            >Create an Account</a
          >
        </li>
        <li>
          <a class="footer-list-item text-dark sub-heading" href="#"
            >Terms & Conditions</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-col-right">
      <p class="text-dak f-18">Get in touch</p>
      <div class="social-media">
        <a href="#">
          <img
            class="social-media-icon inline-block"
            src="../../../assets/icons/footer_facebook_icon.svg"
            alt=""
        /></a>

        <a href="#"
          ><img
            class="social-media-icon inline-block"
            src="../../../assets/icons/footer_instagram_icon.svg"
            alt=""
        /></a>
        <a href="#"
          ><img
            class="social-media-icon inline-block"
            src="../../../assets/icons/footer_twitter_icon.svg"
            alt=""
        /></a>
      </div>
      <a
        class="footer-email text-dark f-16"
        href="mailto:hello@rugbymasters.co.za"
        >hello@rugbymasters.co.za</a
      >
    </div>
  </div>
  <div class="bottom-footer">
    <p class="text-white">Copyright Rugby Masters 2020, All Rights Reserved.</p>
  </div>
</footer>
