<div #target>
  <!-- SCROLL UP BUTTON -->
</div>
<div class="container">
  <div class="back-btn text-white nav-item">
    <a href="#">
      <i class="nav-icon"
        ><img
          src="../../../assets/icons/browse_filters_left_arrow-arrow_carrot-left.svg"
          alt=""
        />
      </i>
      Back
    </a>
  </div>
  <section class="breadcrumbs text-white">
    <img
      src="../assets/icons/class_details_home_rugby_masters_logo.svg"
      alt=""
    />
    <span class="text-white breadcrumb-separator">/</span>
    <a class="text-white" href="#">Browse Clases</a>
    <span class="text-white breadcrumb-separator">/</span>
    <a class="text-white" href="#">Basic Skills</a>
    <span class="text-white breadcrumb-separator">/</span>
    <a class="text-white" href="#">Rugby Basics</a>
  </section>
  <hr />
  <section class="overview">
    <div class="overview-image">
      <img
        src="../../../assets/images/overview_image.png"
        alt="rugby player holding ball grass boots"
      />
    </div>
    <div class="overview-description-text">
      <p class="h1 text-white">{{ classData.class_title }}</p>
      <p class="h2 text-white">Taught by {{ classData.instructor_name }}</p>
      <p class="f-14 text-white uppercase">
        {{ classData.overview.lesson_amount }} lessons -
        {{ classData.overview.class_hrs }} hours,
        {{ classData.overview.class_mins }}mins
      </p>
      <div class="overview-snapshots">
        <button class="btn overview-snapshot-btn secondary-btn capitalize">
          {{ availableSnapshots }} snapshots available
        </button>
        <div>
          <img
            id="myDIV"
            class="snapshot-details-icon"
            src="../../../assets/icons/class_details_i_icon-ic_info.png"
            alt=""
          />
          <p class="snapshot-hidden snapshot-hover hide text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium, dolorem quae, beatae esse quos officiis aspernatur
            commodi odit impedit assumenda molestias rerum ullam?
          </p>
        </div>
      </div>
      <div></div>
    </div>
    <div class="overview-col-right">
      <div class="overview-cart">
        <p class="h2 text-white inline-block">R1550.00</p>
        <button class="text-white btn btn-primary">Add to Cart</button>
      </div>
      <div class="categories">
        <ul>
          <li
            *ngFor="let category of classData.overview.categories"
            class="category capitalize inline-block text-white"
          >
            {{ category }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <hr />
  <section class="content">
    <div class="content-col-left">
      <div class="content-video">
        <div class="video-player">
          <div class="video-player-wrapper">
            <vg-player>
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-controls>
                <vg-play-pause
                  ><img src="../../../assets/icons/cart.svg" alt=""
                /></vg-play-pause>
                <vg-mute></vg-mute>
                <vg-time-display
                  vgProperty="current"
                  vgFormat="mm:ss"
                ></vg-time-display
                ><span
                  style="display: flex; align-items: center"
                  class="text-white"
                  >/</span
                >
                <vg-time-display
                  vgProperty="total"
                  vgFormat="mm:ss"
                ></vg-time-display>
                <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video
                [vgMedia]="$any(media)"
                #media
                id="singleVideo"
                preload="auto"
                crossorigin
              >
                <source
                  src="../../../assets/videos/Springboks.mp4"
                  type="video/mp4"
                />

                <track
                  kind="subtitles"
                  label="English"
                  src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                  srclang="en"
                  default
                />
                <track
                  kind="subtitles"
                  label="Español"
                  src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                  srclang="es"
                />
              </video>
            </vg-player>
          </div>
        </div>
      </div>
      <div class="content-description">
        <p class="paragraph f-14 text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          consequat in elit eget malesuada. Aenean laoreet sem vel sollicitudin
          dolor sit amet, consectetur adipiscing elit. Quisque condimentum dui
          eget lacinia pellentesque. Nulla rhoncus at est ac sollicitudin. Sed
          quis egestas sapien. Nam dignissim posuere rutrum. Nunc suscipit
          posuere felis eu maximus. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra.
        </p>
      </div>
    </div>
    <div class="content-col-right">
      <ejs-accordion expandMode="Single">
        <e-accordionitems>
          <e-accordionitem
            *ngFor="let accordion of accordionData; let indexOfelement = index"
            [expanded]="indexOfelement === 0"
          >
            <ng-template #header>
              <div>{{ indexOfelement + 1 }}. {{ accordion.title }}</div>
              <button
                *ngIf="accordion.snapshot === true"
                class=" btn-accordion-snapshot capitalize"
              >
                snapshots available
              </button>
            </ng-template>
            <ng-template #content>
              <div>
                {{ accordion.desc }}
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
  </section>
  <section class="instructor-overview">
    <div class="instructor-col-left inline-block">
      <div class="instructor-img">
        <img src="../../../assets/images/cobus_coach_image.png " alt="" />
      </div>
      <div>
        <p class="instructor-name text-white capitalize">
          {{ classData.instructor_name }}
        </p>
        <p class="instructor-title text-white uppercase">
          {{ classData.instructor_title }}
        </p>
      </div>
    </div>
    <div class="instructor-col-right inline-block">
      <div class="instructor-description">
        <p class="text-white">
          {{ classData.instructor_desc }}
        </p>
      </div>
    </div>
  </section>
</div>
<section class="cta-banner">
  <div class="cta-col-left">
    <p class="cta-title text-white">Ready to go?</p>
    <p class="cta-subtitle text-white">
      Purchase this class in just a few clicks
    </p>
  </div>
  <div class="cta-col-right">
    <button class="cta-button text-white btn cta-button">Add to Cart</button>
  </div>
</section>
<div class="container">
  <section class="snapshots">
    <p class="h1 text-white">Snapshots</p>
    <p class="sub-heading text-white">
      Purchase individual lessons from this Master Class
    </p>
    <div class="snapshot-cards">
      <div
        *ngFor="let snapshot of snapshots"
        class="snapshot-card inline-block"
      >
        <div class="snapshot-img">
          <img src="{{ snapshot.image_url }}" alt="" />
          <button class="btn secondary-btn"></button>
        </div>
        <div class="snapshot-content">
          <a href="#" class="snapshot-title sub-heading underline text-dark"
            >{{ snapshot.title }} with {{ snapshot.instructor }}
          </a>
          <p class="snapshot-description text-dark">
            {{ snapshot.desc }}
          </p>
          <div class="snapshot-cart">
            <p class="snapshot-price">
              {{ snapshot.price | currency: "R" }}
            </p>
            <a href="#" class="snapshot-cta-btn">
              <img
                src="../../../assets/icons/home_cart_icon_circle.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container mobile-display">
  <div class="back-to-top" (click)="scrollToTop(target)">
    <img src="../../../assets/icons/Mobile_back_to_top_icon.svg" alt="" />
  </div>
</div>
<app-footer></app-footer>
