@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@font-face {
  font-family: HK Grotesk;
  src: url(assets/fonts/HKGrotesk-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: HK Grotesk semi-bold;
  src: url(assets/fonts/HKGrotesk-SemiBold.otf) format("opentype");
  font-weight: 600;
}

body {
  margin: 0px;
  background: linear-gradient(87.69deg, #141630 0%, #1f2350 100%);
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

// COLOURS

$white: #fff;
$primary-blue: #141630;

// FONTS

.text-white {
  color: $white;
}

.text-dark {
  color: $primary-blue;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}

.h1 {
  font-size: 28px;
  letter-spacing: 0;
  line-height: 33px;
}
.h2 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}
.h3 {
}
.sub-heading {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.f-18 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
  font-family: HK Grotesk semi-bold;
}
.f-16 {
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.f-14 {
  font-family: "Work Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}

// BUTTONS
button {
  cursor: pointer;
  border: none;
  box-shadow: none;
  // border: none;
  background: transparent;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 5px 5px 5px $primary-blue;
  transform: translateY(-0.25em);
}
.btn-primary {
  height: 39px;
  width: 156px;
  border-radius: 30px;
  background: linear-gradient(0deg, #e15b11 0%, #eb9845 54%, #ef7d3f 100%);
}
.cta-button {
  height: 63px;
  width: 300px;
  border-radius: 30px;
}
.cat-button .btn-accordion-snapshot {
  height: 27px;
  width: 199px;
  color: $white;
  border-radius: 13.5px;
  background: linear-gradient(0deg, #1f2350 0%, #141630 100%);
}

// LAYOUT

.mobile-display {
  display: none;
}

hr {
  margin: 0px 4px;
}

.container {
  padding: 70px 120px 0px 120px;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

// HEADER
header {
  height: 100px;
  background-color: $white;

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 54px;
    align-items: center;
    .nav-col-left {
      display: flex;
      align-items: center;
    }

    .nav-item {
      margin-left: 30px;
      a {
        text-decoration: none;
        color: $primary-blue;
        font-family: "Work Sans";
        letter-spacing: 0;
        line-height: 19px;
        text-align: center;
      }
      .nav-icon {
        display: inline-block !important;
        width: 23px;
        vertical-align: middle;
      }
    }
    .nav-links {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
  }

  // MOBILE OVERLAY NAV
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    .overlay-content {
      text-align: center;
      margin-top: 30px;
      .mobile-nav-item {
        font-family: "Work Sans";
        font-size: 20px;
        padding-bottom: 37px;

        letter-spacing: 0;
        line-height: 24px;
        background: linear-gradient(
          0deg,
          #e15b11 0%,
          #eb9845 74.56%,
          #ef7d3f 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .mobile-nav-icon {
          width: 18px;
        }
      }
      .btn-mobile-nav {
        margin-top: 26px;
        height: 56px;
        width: 246px;
        font-family: "Work Sans";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
        text-align: center;
      }
    }

    .overlay-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 70px 40px 62px;
    }

    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    a:hover,
    a:focus {
      color: #f1f1f1;
    }
  }
  .open {
    background: linear-gradient(90deg, #141630 0%, #1f2350 100%);
    width: 100% !important;
  }
  .close {
    width: 0%;
  }
}

// BREADCRUMBS
.back-btn {
  display: none;
}
.nav-item {
  a {
    text-decoration: none;
    color: $white;
    font-family: "Work Sans";
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
  }
  .nav-icon {
    display: inline-block !important;
    width: 23px;
    vertical-align: middle;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0px 0px 30px;
  .breadcrumb-separator {
    color: $white;
    padding: 0px 10px;
  }
  a {
    font-family: "Work Sans";
    font-size: 14px;
    letter-spacing: 0.72px;
    line-height: 16px;
  }
}

// OVERVIEW

.overview {
  display: inline-grid;
  grid-template-columns: auto auto 1fr; // justify-content: space-between;
  width: 100%;
  padding: 60px 0px;

  .overview-image img {
    width: 157px;
    padding-right: 30px;
  }

  .overview-description-text {
    .h1 {
      font-family: "HK Grotesk";
      padding: 0px 0px 15px;
    }
    .h2 {
      font-family: "Work Sans";
      padding: 0px 20px 15px 0px;
    }
    .f-14 {
      opacity: 0.8;
      padding-bottom: 20px;
    }
    .overview-snapshots {
      display: flex;
      align-items: center;

      .overview-snapshot-btn {
        height: 26px;
        width: 187px;
        border-radius: 13px;
        background: $white;
      }
      .snapshot-details-icon {
        width: 17px;
        height: 17px;
        padding-left: 11px;
      }
      .hide {
        display: none;
      }
      #myDIV:hover ~ .hide {
        display: block !important;
      }
      .snapshot-hover {
        width: 200px;
        position: absolute;
        padding: 20px;
        background: linear-gradient(90deg, #141630 0%, #1f2350 100%);
        border-radius: 6px;
        border: solid 1px $white;
        z-index: 10;
      }
    }
  }
  .overview-col-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;

    .overview-cart {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      .h2 {
        font-family: "HK Grotesk";

        padding-right: 22px;
      }
    }
    .category {
      border: 1px solid $white;
      padding: 7.5px 17px;
      margin-left: 10px;
      border-radius: 20px;
      font-family: "Work Sans";
      font-size: 12px;
      letter-spacing: 0.62px;
      line-height: 14px;
    }
  }
}

//CONTENT
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 0px 76px;

  .content-col-left {
    .content-description p {
      border-radius: 0 0 4px 4px;
      background-color: rgba(255, 255, 255, 0.15);
      margin: 0px;
      padding: 33px 32px 35px;
    }

    .vg-icon-play_arrow:before,
    .vg-icon-pause:before,
    .vg-icon-volume_up:before,
    .vg-icon-volume_off:before {
      background: linear-gradient(0deg, #e15b11 0%, #eb9845 54%, #ef7d3f 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    vg-controls {
      background-color: $primary-blue;
    }
  }
  .content-col-right {
    padding-left: 20px;

    .e-accordion {
      border-radius: 6px;
    }

    .e-icons {
      background: linear-gradient(
        0deg,
        #e15b11 0%,
        #eb9845 74.56%,
        #ef7d3f 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .e-accordion .e-acrdn-item.e-select {
      padding: 24px 0px 24px 0px;
      border-bottom: 1px solid rgba(20, 22, 48, 0.4);
      border-top: 1px solid transparent;
    }
    .e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon {
      top: 20px;
    }
    .e-accordion
      .e-acrdn-item.e-select.e-selected.e-expand-state
      > .e-acrdn-header
      .e-acrdn-header-content,
    .e-accordion
      .e-acrdn-item.e-select.e-expand-state
      > .e-acrdn-header
      .e-acrdn-header-content,
    .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
      font-family: "HK Grotesk semi-bold";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 35px;
      color: $primary-blue;
    }
    .e-accordion .e-acrdn-item .e-acrdn-panel {
      padding: 0px 32px;
    }
    .e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
      padding: 16px 0px;
      font-family: "Work Sans";
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
    }
    .e-accordion .e-acrdn-item .e-acrdn-header {
      padding: 0px 0px 0px 32px;
    }
    .e-accordion .e-acrdn-item .e-acrdn-header:hover {
      background: $white;
    }
    .e-accordion
      .e-acrdn-item.e-selected.e-select.e-expand-state
      > .e-acrdn-header:focus {
      background: $white;
    }
  }
}
//CONTENT // ACCORDION

// INSTRUCTOR OVERVIEW

.instructor-overview {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0px;
  padding: 22px 30px 21px;
  margin-bottom: 100px;

  .instructor-col-left {
    display: flex;
    align-items: center;
    .instructor-name {
      font-family: "HK Grotesk", sans-serif;

      font-size: 22px;
      letter-spacing: 0;
      line-height: 27px;
    }
    .instructor-title {
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      opacity: 0.8;
      padding-top: 10px;
      letter-spacing: 0;
      line-height: 19px;
    }
    .instructor-img {
      img {
        width: 87px;
        padding-right: 18px;
      }
    }
  }
  .instructor-col-right {
    display: flex;
    align-items: center;
    max-width: 657px;
    .instructor-description p {
      font-family: "Work Sans";

      opacity: 0.6;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;
      padding-left: 20px;
    }
  }
}

.cta-banner {
  background-image: url(assets/images/home_ready_to_go_image@1x.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: linear-gradient(87.69deg, #141630 0%, #1f2350 100%);
  height: 292px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cta-col-left {
    max-width: 372px;
    padding-left: 20%;
    .cta-title {
      font-family: "HK Grotesk";
      font-size: 52px;
      letter-spacing: 0;
      line-height: 63px;
    }
    .cta-subtitle {
      opacity: 0.9;
      font-family: "Work Sans";
      font-size: 22px;
      letter-spacing: 0;
      line-height: 25px;
    }
  }
  .cta-col-right {
    padding-right: 20%;

    .cta-button {
      height: 63px;
      width: 300px;
      border-radius: 30px;
      background: linear-gradient(0deg, #e15b11 0%, #eb9845 54%, #ef7d3f 100%);
      font-family: "Work Sans";
      font-size: 20px;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;
      transition: 0.3s;
    }
  }
}

// SNAPSHOTS
.snapshots {
  padding-bottom: 80px;
  .h1 {
    font-family: "HK Grotesk";
  }
  .sub-heading {
    padding-top: 24px;
    opacity: 0.8;
    font-family: "Work Sans";
  }
  .snapshot-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    padding: 32px 0px 0px 0px;

    .snapshot-card {
      max-width: 380px;
      min-width: 314px;
      border-radius: 6px;
      background-color: $white;
      .snapshot-img,
      .snapshot-img img {
        width: 100%;
        max-height: 212px;
        border-radius: 6px 6px 0px 0px;
      }
      .snapshot-content {
        padding: 28px 33px 23px;
        .snapshot-title {
          margin-bottom: 12px;
          font-family: "HK Grotesk semi-bold";
          display: block;
        }
        .snapshot-description {
          opacity: 0.8;
          font-family: "Work Sans";
          font-size: 14px;
          letter-spacing: 0;
          line-height: 16px;
        }
        .snapshot-cart {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .snapshot-price {
            font-family: "HK Grotesk semi-bold";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 21px;
          }

          .snapshot-cta-btn {
            background: transparent;
            margin-left: 20px;
            img {
              width: 38px;
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-top {
    display: flex;
    background-color: $white;
    padding: 60px 120px;
    justify-content: space-between;

    .footer-col-left {
      display: flex;
      align-items: center;
      .footer-logo {
        width: 115px;
      }
      .footer-list {
        list-style-type: none;
        .footer-list-item {
          display: block;
          margin-bottom: 10px;
          font-family: "Work Sans";
        }
      }
    }
    .footer-col-right {
      .social-media {
        padding: 14px 0px 23px;
        .social-media-icon {
          margin-right: 10px;
        }
      }
    }
  }

  .bottom-footer {
    height: 54px;
    background-color: $primary-blue;
    text-align: center;

    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Work Sans";
      font-size: 12px;
      letter-spacing: 0;
      line-height: 14px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 875px) {
  .container {
    padding: 20px 40px 0px 40px;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-display {
    display: block;
  }
  //BREADCRUMBS
  .breadcrumbs {
    display: none;
  }
  .back-btn {
    display: block;
  }
  .overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  }

  .cta-banner {
    background-image: url(assets/images/home_ready_to_go_image_mobile@1x.jpg);
    height: 305px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;

    .cta-col-left {
      max-width: 100%;
      padding-left: 0%;
      padding-bottom: 36px;
      text-align: center;
      .cta-title {
        font-family: "HK Grotesk";
        font-size: 52px;
        letter-spacing: 0;
        line-height: 63px;
      }
      .cta-subtitle {
        opacity: 0.9;
        font-family: "Work Sans";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
      }
    }
    .cta-col-right {
      padding-right: 0%;
      text-align: center;

      .cta-button {
        height: 56px;
        width: 246px;
        border-radius: 30px;
        background: linear-gradient(
          0deg,
          #e15b11 0%,
          #eb9845 54%,
          #ef7d3f 100%
        );
        font-family: "Work Sans";
        font-size: 20px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
      }
    }
  }
  //FOOTER
  footer {
    .footer-top {
      display: block;
      background-color: $white;
      padding: 32px 0px 40px;
      text-align: center;

      .footer-col-left {
        display: block;
        align-items: center;
        .footer-logo {
          width: 90px;
          padding-bottom: 29px;
        }
        .footer-list {
          list-style-type: none;
          padding: 0px;
          margin: 0px 0px 40px;
          .footer-list-item {
            display: block;
            margin-bottom: 20px;
            font-family: "Work Sans";
          }
        }
      }
      .footer-col-right {
        .social-media {
          padding: 22px 0px 23px;
          .social-media-icon {
            margin-right: 10px;
            width: 42px;
          }
        }
      }
    }

    .bottom-footer {
      height: 62px;
    }
  }
}

@media only screen and (max-width: 415px) {
  // LAYOUT

  hr,
  .mobile-hidden {
    display: none;
  }
  .mobile-display {
    display: block;
  }

  .container {
    padding: 0px 20px 0px 20px;
  }

  // HEADER
  header {
    height: 100px;
    background-color: $white;
    margin-bottom: 40px;

    .desktop-nav {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      align-items: center;
      .nav-col-left {
        display: flex;
        align-items: center;
      }

      .nav-item {
        margin-left: 30px;
        a {
          text-decoration: none;
          color: $primary-blue;
          font-family: "Work Sans";
          letter-spacing: 0;
          line-height: 19px;
          text-align: center;
        }
        .nav-icon {
          display: inline-block !important;
          width: 23px;
          vertical-align: middle;
        }
      }
      .nav-links {
        display: flex;
        list-style-type: none;
        align-items: center;
      }
    }
  }

  //OVERVIEW
  .overview {
    padding: 51px 0px 0px 0px;
    display: grid;
    grid-template-areas:
      "img cart"
      "desc desc ";
    grid-template-columns: none;
    .overview-image {
      grid-area: img;
      img {
        width: 104px;
        padding-bottom: 20px;
      }
    }

    .overview-description-text {
      grid-area: desc;

      .snapshot-details-icon {
        width: 17px;
        padding-left: 11px;
      }
    }
    .overview-col-right {
      display: grid;

      .overview-cart {
        grid-area: cart;
        display: block;
        .h2 {
          float: right;
          padding-right: 0px;
          padding-bottom: 15px;
        }
        button {
          float: right;
          height: 56px;
          margin-bottom: 20px;
        }
      }
      .categories {
        display: none;
      }
    }
  }

  //CONTENT
  .content {
    display: block;
    padding: 0px;
    margin: 55px 0px 80px;

    .content-col-left {
      margin-bottom: 50px;
      .content-description p {
        border-radius: 0 0 4px 4px;
        background-color: rgba(255, 255, 255, 0.15);
        margin: 0px;
        padding: 33px 32px 35px;
      }
    }
    .content-col-right {
      padding-left: 0px;
      .accordion {
        width: auto;
      }
    }
  }

  // SNAPSHOTS

  .snapshot-img,
  .snapshot-img img {
    height: 173px;
  }
  // INSTRUCTOR OVERVIEW

  .instructor-overview {
    display: block;

    border-radius: 4px;

    padding: 22px 26px 39px;
    margin-bottom: 80px;

    .instructor-col-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      .instructor-name {
        font-family: "HK Grotesk", sans-serif;

        font-size: 22px;
        letter-spacing: 0;
        line-height: 27px;
      }
      .instructor-title {
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        opacity: 0.8;
        padding-top: 10px;
        letter-spacing: 0;
        line-height: 19px;
      }
      .instructor-img {
        img {
          width: 87px;
          padding-right: 54px;
        }
      }
    }
    .instructor-col-right {
      display: flex;
      align-items: center;
      max-width: 657px;
      .instructor-description p {
        opacity: 0.6;
        font-family: "Work Sans";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        padding-left: 0px;
      }
    }
  }

  // SNAPSHOTS
  .snapshots {
    padding-bottom: 40px;
    .h1 {
      font-family: "HK Grotesk";
    }
    .snapshot-cards {
      display: flex;
      overflow-x: auto;
      // overflow: hidden;
    }

    .snapshot-card {
      margin: 32px 20px 0px 0px;

      .snapshot-content {
        padding: 28px 33px;
        .snapshot-title {
          margin-bottom: 16px;
          font-family: "HK Grotesk semi-bold";
          display: block;
        }
        .snapshot-description {
          opacity: 0.8;
          font-family: "Work Sans";
          font-size: 14px;
          letter-spacing: 0;
          line-height: 16px;
          padding-bottom: 24px;
        }
        .snapshot-cart {
          justify-content: space-between;
          .snapshot-price {
            font-family: "HK Grotesk semi-bold";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 21px;
          }

          .snapshot-cta-btn {
            background: transparent;
            margin-left: 20px;
            img {
              width: 38px;
            }
          }
        }
      }
    }
  }

  //BACK-TO-TOP
  .back-to-top {
    overflow: hidden;
    padding: 0px 0px 43px;
    img {
      width: 54px;
      float: right;
      border-radius: 50%;
      background: linear-gradient(
        0deg,
        #e15b11 0%,
        #eb9845 74.56%,
        #ef7d3f 100%
      );
    }
  }
}
// @media only screen and (max-width: 380px) {
//   .overview {
//     padding: 51px 0px 0px 0px;
//     display: grid;
//     grid-template-areas:
//       "img "
//       "desc "
//       "cart";
//     grid-template-columns: none;

//     .overview-col-right {
//       display: flex;
//       margin-left: 0px;
//       margin-right: auto;
//       padding-top: 20px;
//       .overview-cart {
//         display: flex;
//         flex-direction: column;
//       }
//     }
//   }
// }
